body {
    background-color: #F7F7F7
}
.menu li{
    padding: 0%;
    margin: 0%;
    display: inline-block;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px ;
    border-left: 1px solid #F7F7F7; 
   
}
.menu {
    margin: 0%;
    padding-left:30%;
    border-left: 1px solid #F7F7F7;
    text-shadow: 1px 1px 1px ;
}

.menu a{
    padding: 20px 10px 40px 8px;
    color: #B0B0B0;
    border-left: 1px solid #F7F7F7;
    text-decoration: none;
}
.container{

    width: 65%;
    margin: auto;
}
.menu a:hover{

    background-color: #DEDCDC
}
